*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(149, 149, 149);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/*-------------------- HEADER -------------------- */
/* TOP BAR */
.for-top-bar{
    background-color: rgb(235, 235, 235);
}
.for-top-bar a{
    text-decoration: none;
    color: black;
}
.for-top-bar a:hover{
    color: rgb(255, 102, 46);
}

/* NAVBAR */
.logo-size{
    height: 50px;
    width: 110px;
}
.my-link{
    
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.nav-link::after{
    content: "";
    display: block;
    width: 0px;
    background-color: rgb(255, 102, 46);
    height: 3px;
    transition: 0.3s;
}
.nav-link:hover::after{
    width: 100%;
}
.btn-outline{
    color:whitesmoke;
    background-color: rgb(255, 102, 46);
    font-weight: 800;
}

/* FOR DYNAMIC TEXT & CAROUSEL */
.bg-for-dynamic-text{
    background-color: rgb(28, 23, 44);
    color: whitesmoke;
    height: 500px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.d-text-position{
    width: 80%;
    position: relative;
    top: 100px;
    left: 20px;
}
.for-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 10px;
}
.for-d-text-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:rgb(255, 102, 46) ;
}
.btn-extra{
    border: none;
    padding: 10px 25px;
    margin: 10px 0px;
    cursor: pointer;
}
.for-color{
    color: rgb(151, 146, 146);
}

 /* CLIENT LOGO SHOWCASE  */
 .portfolio_slider {
     max-width: 1200px;
 }
 .portfolio_slider {
     flex: 1 1 0;
 }
 .inner {
     padding: 6px;
     
 }
 .inner img {
     width: 100%;
     height: 170px;
     transition: 0.3s;
 }
 .inner img:hover {
     transform:scale(1.2);
 }
 .next{
     position: absolute;
     right: 0px ;
     bottom: 90px;
     right: -10px;
     z-index: 1;
     color: gray;
 }
 .previous{
     position: absolute;
     bottom: 90px;
     left: -13px;
     z-index: 1;
     color: gray;
 }
 .for-main-heading{
     border-bottom: 3px solid;
     border-image: linear-gradient(90deg, rgba(255,102,46,1) 50%, rgba(28,23,44,1) 50%)2;
 }
/*-------------------- HEADER -------------------- */

/*-------------------- SECTION -------------------- */
/* SECTION 1 */
.section1{
    height: auto;
    margin-top: 25px;
}
.section1 img{
    height: 350px;
    width: 500px;
}
.for-inner-div1{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(94, 227, 250);
    top: 20px;
    left: -10px;
    z-index: -20;
}
.for-inner-div2{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(250, 118, 70);
    bottom: 20px;
    left: 340px; 
    z-index: -20;
}
.for-para-color{
    color: rgb(104, 104, 104);
}
/* SECTION 2 */
.section2{
    height: 600px;
    margin-top: 25px;
    background-image: url("section2\ bg-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section2 .fa {
    font-size: 80px;
    color: rgb(27, 105, 119);
}
/* section 3 */
.section3{
    height: 400px;
}
.section3 .fa{
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(94, 227, 250), rgb(27, 105, 119));
    background-clip: text;
    color: transparent;
    padding-top: 10px;
}
.counter{
    font-size: 40px;
    padding-top: 10px;
    color: rgb(28, 23, 44);

}
/* section 4 */
.for-our-team{
    border-bottom: 3px solid rgb(250, 118, 70);
}
.section4{
    padding-top: 25px;
    background-color: rgb(28, 23, 44);
    color: whitesmoke;
}
.section4 img{
    height: 200px;
    width: 200px;
}
/* section 5 */
.section5{
    padding-top: 25px;
}
.section5 img{
    height: 250px;
    width: 180px;
    z-index: 10;
}
.for-review-box{
    width: 180px;
    height: 150px;
    background-color:rgb(27, 105, 119);
    position: absolute;
    left: 80px;
    top: -20px;
}
.for-quotes{
    font-size: 26px;
}
.move{
    left: -80px;
}
/* SECTION 6 */
.section6{
    background-color: rgb(28, 23, 44);
}
/*-------------------- SECTION -------------------- */

/*-------------------- FOOTER -------------------- */
.for-append{
    background-color: rgba(255,102,46,1);
    color: whitesmoke;
    border: none;
    width: 150px !important;
    cursor: pointer;
}
input[type="email"]:focus{
    box-shadow: none !important;
}
.for-footer img{
    width: 150px;
    height: 100px;
}
.policy-bar span{
padding: 5px 10px;
}
.for-footer a{
    text-decoration: none;
    color: rgb(28, 23, 44);
}
hr{
    width: 75%;
    margin: auto;
}
/*-------------------- FOOTER -------------------- */







.c1{
    background-color: chartreuse;
}
.c2{
    background-color: chocolate;
}
.c3{
    background-color: cornflowerblue;
}
